nav {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: #ba000d;
  background: yellow;
  font-family:serif;
  text-decoration: underline;

}

nav a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}

nav a:hover {
  color: blue;
}



.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: turquoise;
  padding: 100px;
  text: blue;

}

.create-form input {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  text: blue;
}

.create-form button {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.create-form h1 {
  color:#4CAF50;


}

.create-form button:hover {
  background-color: #3e8e41;
}

.delete-button {
  margin: 10px 0;
  padding: 10px;
  width: 100px;
  font-size: 18px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ba000d;
}
.champion-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.champion-detail h2 {
  font-size: 2em;
  margin: 10px 0;
}

.champion-detail p {
  font-size: 1.2em;
  margin: 10px 0;
}

.champion-detail button {
  margin: 10px 0;
  padding: 10px;
  width: 100px;
  font-size: 18px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.champion-detail button:hover {
  background-color: #ba000d;
}

.champions-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 500px 10;
  background: blue;
  flex-direction: column;
  margin: auto;
}

.champions-page h1 {
  font-size: 4em;
  text-align: center;
  margin: 20px 0;
  color: #c60909;
}

.champions-page h2 {
  font-size: 2em;
  display: flex;
  flex-wrap:inherit;
  flex-direction: column; 
  text-align: left;
  margin: 10px 0;
  color: black;
  text-align: center;
  
}

.champion-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
}

.champion-card:hover {
  transform: scale(1.05);
}

.champion-card img {
  width: 100%;
}

.champion-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ffa600;
}

.champion-card p {
  margin: 10px 0;
  text-align: center;
}
